<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adam Olszewski</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/resources/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/resources/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/resources/favicon-16x16.png">
    <link rel="manifest" href="/public/resources/site.webmanifest">
    <link rel="mask-icon" href="/public/resources/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/public/resources/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/public/resources/browserconfig.xml">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">    
    <script src="https://kit.fontawesome.com/165dd52d1d.js" crossorigin="anonymous"></script>
  </head>
<body>
  <header id="home">

      <nav>
        <div class="logo">
          <img src="/public/resources/logo.png" alt="logo">
        </div>
        <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#about" >About me</a>
          <a href="#projects">Projects</a>
          <a href="#contact" >Contact</a>
        </div>
      </nav>

      <div id="headerinfo">
        <h2 class="gt">Adam <span>Olszewski &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span></h2>
        <h1>Full Stack Web <br>& <br>App Developer</h1>
        <p>Front-end developer focused on creating Web and Mobile applications. I really like different projects that solve real problems.</p>
        <button class="btn1"><i class="fa-solid fa-cloud-arrow-down"></i>&nbsp Download CV</button>
        <button class="btn"><i class="fa-solid fa-circle-arrow-down"></i>&nbsp Portfolio</button>
      </div>
      <div class="header-icons">
        <a href="https://github.com/Olszuss"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/adam-olszewski96/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    </div>
  </header>

  <section id="about">
    <h1>About me</h1>
    <p>I'm <span>Adam Olszewski</span>, I'm <span>26</span> years old and I live in <span>Sośnicowice</span> -PL. <span>Full Stack Web & App Developer</span>, I'm passionate about interfaces, from their creation to development. I like to learn more and more about the area, challenges that take me out of my comfort zone are the best. 
      <br>
      <br>
       I already have prototyped and developed 
       <br>
       <span>Landing Pages</span> and <span>Sites</span>.</p>
       <button class="btn"><i class="fa-solid fa-circle-info"></i></i> Read More...</a></button>
  </section>

  <section id="skills">
    <h1>Skills</h1>
    <div class="container">
    <div class="left-panel">
      <h2><i class="fa-solid fa-paintbrush"></i>&nbsp Frontend Skills:</h2>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
    </div>
    <div class="right-panel">
      <h2><i class="fa-solid fa-code"></i>&nbsp Backend Skills:</h2>
    </div>
  </div>
  </section>
















</body>
</html>