<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adam Olszewski</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/165dd52d1d.js" crossorigin="anonymous"></script>
  </head>
<body>
  <header>

      <nav>
        <div class="topnav">
          <a class="active navtop" href="#home">Home</a>
          <a href="#about" class="navbot">About me</a>
          <a href="#projects" class="navtop">Projects</a>
          <a href="#contact" class="navbot">Contact</a>
        </div>
      </nav>

      <section id="headerinfo">
        <h2 class="gt">Adam <span>Olszewski &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span></h2>
        <h1>Full-Stack Web & App <br> Developer</h1>
        <p>Front-end developer focused on creating Web and Mobile applications. I really like different projects that solve real problems.</p>
        <button class="btn1"> <i class="fa-light fa-cloud-arrow-down"></i> Download CV</button>
        <button class="btn"><i class="far fa-arrow-circle-down"></i></i>Portfolio</button>
      </section>
  </header>
















</body>
</html>