
* {
    font-family: "Poppins", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
header {
  background-color: rgba(32, 32, 32, 1);
  background-image: linear-gradient(59deg, rgba(32, 32, 32, 1) 50%, rgba(39, 39, 39, 1) 0%); 
}
.logo {
  position: absolute;
  left: 5rem;
  top: 0.875rem;
}
.logo img {
  width: 7.5rem;
}
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 4.7rem;
  }
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 0.875rem 1.875rem 0rem 0rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .navtop {
    justify-items: start;
  }
  .navbot {
    display: flex;
    align-items: flex-end;
  }
  .topnav a:hover {
    color: black;
    transition: all 500ms; 
  }
  .topnav a.active {
    color: #13FF00;
  }
  #headerinfo {
    margin-top: 8rem;
    margin-left: 5rem;
  }
  .gt {
    color: #13FF00;
  }
  #headerinfo span{
    position: relative
  }
  #headerinfo span:after {
    content: "";
    width: 120%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 3px;
    border-style: solid;
    border-radius: 10px;
  }
  #headerinfo {
    max-width: 35.625rem;
  }
  #headerinfo h2 {
    font-size: 2.8rem;
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
  #headerinfo h1 {
    font-size: 3.1rem;
    margin-top: 1.25rem;
    color: white;
    text-shadow: 0 0 3px black, 0 0 3px black;
    letter-spacing: 0.2rem;
  }
  #headerinfo p {
    color: #8F8F8F;
    font-size: 1.3rem;
    margin-bottom: 0.938rem;
  }
  button {
    padding: 0.625rem 3.125rem;
    border-radius: 10px;
    cursor: pointer;
  }
  .btn1 {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    margin-right: 1.563rem;
    padding: 0.625rem 0.625rem 0.625rem 0px !important;
  }
  .btn1:hover{
    transition : 1000ms;
    color: #13FF00;
  }
  .btn {
    background-color: #13FF00;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    color: black;
  }
  .header-icons {
    margin-top: 3rem;
    margin-left: 5rem;
  }
  .header-icons {
    display: flex;
    padding-bottom: 8rem;  
}
  .header-icons a {
    padding: 0.188rem;
    margin-right: 1.25rem;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 50%;
    color: #E2E2E2;
    font-size: 1.3rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    background-color: #3F3F3F;
}
  .header-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: grey;
    z-index: -1;
    transition: .5s;
}
  .header-icons a:hover::before {
    width: 100%;
}
#about {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about h1 {
  padding-top: 5rem;
  text-align: center;
  color: white;
  font-size: 3.125rem;
  font-weight: 700;
  text-transform: uppercase;
}
#about p {
  padding: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  max-width: 62rem;
  color: #8F8F8F;
  font-size: 1.875rem;
  font-weight: 500;
}
#about span {
  color: #13FF00;
}
#about button {
  margin: 2rem;
}

#skills {
  background-color: #1D1D1D;
  text-align: center;
}
#skills h1 {
  padding-top: 5rem;
  text-align: center;
  color: white;
  font-size: 3.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 5rem;
}
.left-panel, .right-panel{
  padding: 2rem;
  color: white;
}

@media screen and (max-width: 1000px) {

  html {
  
  font-size: 12px;
  
  }
  
  }

  @media screen and (max-width: 800px) {

    html {
    
    font-size: 10px;
    
    }
    .topnav a {
      display: none;
    }
    
    #headerinfo {
      margin-left: 2rem;
    }
    .logo {
      left: 2rem;
    }
    #headerinfo span:after {
      width: 80%;
    }
    }