/* Add a black background color to the top navigation */
* {
    font-family: "Poppins", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  background-color: rgba(32, 32, 32, 1);
  background-image: linear-gradient(59deg, rgba(32, 32, 32, 1) 50%, rgba(39, 39, 39, 1) 0%);
  
}

.logo {
  position: absolute;
  left: 5rem;
  top: 14px;
}
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 4.7rem;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }
  .navtop {
    justify-items: start;
  }

  .navbot {
    display: flex;
    align-items: flex-end;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
    transition: all 500ms;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: #13FF00;
  }


  #headerinfo {
    margin-top: 8rem;
    margin-left: 5rem;
  }

  .gt {
    color: #13FF00;
  }

  #headerinfo span{
    position: relative
  }

  #headerinfo span:after {
    content: "";
    width: 120%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 5px;
    border-style: solid;
    border-radius: 10px;
  }

  #headerinfo {
    width: 570px;
  }

  #headerinfo h2 {
    font-size: 44px;
    margin-bottom: 0;
    font-weight: bold;
  }

  #headerinfo h1 {
    font-size: 50px;
    margin-top: 20px;
    color: white;
    text-shadow: 0 0 3px #13FF00, 0 0 3px #13FF00;
  }

  #headerinfo p {
    color: #8F8F8F;
    font-size: 20px;
    margin-bottom: 15px;
  }

  #headerinfo button {
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn1 {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-right: 25px;
    padding: 10px 10px 10px 0px !important;
  }

  .btn1:hover{
    transition : 1000ms;
    color: #13FF00;
  }

  .btn {
    background-color: #13FF00;
    font-weight: 600;
    font-size: 20px;
    border: none;
  }

  .header-icons {
    margin-top: 3rem;
    margin-left: 5rem;
  }
  
  .header-icons {
    display: flex;
    padding-bottom: 8rem;
    
}

  .header-icons a {
    padding: 3px;
    margin-right: 20px;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    color: #E2E2E2;
    font-size: 1.3rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    background-color: #3F3F3F;
}

  .header-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: grey;
    z-index: -1;
    transition: .5s;
}

  .header-icons a:hover::before {
    width: 100%;
}

#about {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about h1 {
  padding-top: 5rem;
  text-align: center;
  color: white;
  font-size: 3.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

#about p {
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 62rem;
  color: #8F8F8F;
  font-size: 1.875rem;
  font-weight: 500;
}

#about span {
  color: #13FF00;
}
